<html>

  <head>
    <title>Project_Vidly</title>
    <style>
      .title { border-radius: 15px; text-align: justify; background-color:
      #6e00ff; margin: 0; margin-bottom: 5px; color: white; font-size: 18px;
      padding-left: 2%; padding-top: 2%; } .modalBody { margin-top: 15px;
      margin-right: 15px; text-align: center; border-radius: 5px;
      background-color: #6e00ff; box-shadow: 0 1px 4px 2px rgb(161, 159, 159); }
      .crop-container { width: 100%; overflow: hidden; }
    </style>
  </head>

  <body>

    <div
      class="title"
      style="
        margin-bottom: -10px;
        text-align: center;
        padding: 0;
		"
    ><div><img
          src="https://bl6pap003files.storage.live.com/y4m_A1zXZ9clXy8fUhEyhiphDsq5AnyK90z1vlWYOK2OBJY5Cw-F1Z0VMJpJDtOvEzTrCK1alWbnajeet6SKYNsJE9HmvpBq-D6vqREvRVKmLXMveZwy3YDiQdVoC-y36QGkRh9K-VOg8jsUI0K7jlXLyFfQbH4IlDM73zRQTbrYzrcP0lEM-TA3ONjBdUxUNVHGMje3i15vnc8DbWCdHw5MQhbl47uAjj0YMs6JqcoW8s?width=128&height=89&cropmode=center"
        /></div>Welcome to the family! Want something to start with? Here some
      movies you might like:<br />Visit Site Here:<a
        href="https://projectvidly.netlify.app"
        style="text-decoration: none; color: #a1aebb;"
      >project_vidly</a></div>

    <div class="modalBody">
      <h5 class="title">Yash's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4mkT8CiTI_fBr2vF1UYx_9P6caRW9QInVtiTbSDr6GhU_DyxXm7CHfuV8T4qClxAXXqIwSAg6EP89aSLvqxLQr7Y7xbAxirb2WwpONiislL3X3DmCGpOnuGzMcdJR8rSwjh53RD_h40PAVTevLv7Q1V6dfKSzrhp0nqtpoB66sI2CnIPUx2XTcHI5KEp85iLL4S_wMwvQZqhNA7v8C2OAY6jdHgpYJGAB3YD85B8yW_vA?width=479&height=318&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: K.G.F Chapter 1<br />
        Rating: 8.2<br />
        Released Year: 2018<br />
        Genre:
        <span style="color: #181818;">Thriller</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Irrfan Khan's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4manV0fyxColvmAjjOD0J-wHdOugp52Nr3MOlXqdwmUkkzKhjT59O41vEs9zPGZFVISvXlCFsOEy6uqJmIorQksgQWisivNjy-OzJCGQp126jPWxLieCnKlKIdUqN5rNYHxBuXtqjr-o8ucXXAi-bTX7vkLdsgUzfodxj65gtCN7k7enxZ2GyT01ilB2m3Ob45oY78WBuA7PUZYbBq3c5nJ67xoYf2RvderpcGhU6pSZo?width=479&height=271&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Paan Singh Tomar<br />
        Rating: 8.2<br />
        Released Year: 2012<br />
        Genre:
        <span style="color: #181818;">Biography</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Pankaj Tripathi's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4megfbERf9WP_BEl47enwGkMY_f_wOkzz9TkCrvEYzsWSvZuisOrLJy5BT_GIzmd3KaOxMwq7vFMdBUIBiE9o_aCm9qvolog4AnYxQ6Qarg7pLc5waUpYV9VEfFLT4TN6VfOS_8-HPbfudH-gAxhawipIjX92GzQR3eE-GIsCQ5gFEauI0cjMiL9Zf-O8_WbxAyGN30Q-tSbjNa0KGqpEMurP0choHMtpvVwJ-sRLLSMg?width=480&height=270&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Gurgaon<br />
        Rating: 6.5<br />
        Released Year: 2017<br />
        Genre:
        <span style="color: #181818;">Crime</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Nawazuddin Siddiqui's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4mAR0Ia_y0QPC5nRL8lmJBvnL1Rfx2QLIhcnEV7Kq0JqXZmcIfc-jfjgKpxJ8iaad2VPm3ozybm6twniKYvUB2USO1zmthjC6eRx72cTJ-HKri32d3TWs3ubYDrvWW-KiM4iu0EKWoJ-WxBMBZLLRRz-NihOhdNil5-aoL7ah_m9bZUrsIBgcIR16WDDzc50RiyU-d4LEBnHvgGTUTud8h2RQH0XO4xyHes1PI3QoluWs?width=478&height=270&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Photograph<br />
        Rating: 6.8<br />
        Released Year: 2021<br />
        Genre:
        <span style="color: #181818;">Romance</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Sohum Shah's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4m1gP_-yzmg-4SO0En1ac5AE8_1I8hqhSZXu8w-azDjS_QbQ2QYYZ6XYgE11VFaDPuJVmOt2T6bmq0mIRPNALFpK-0dWPXCP-OrRW3tU0QwQnL_eFhA1p-FvYwliEdWmNQXJ4fCLbPpRQXucY1W7eI7Ri7LTiYGtJFB4gwlm33xeu1CDyPJQQUVL7vhpjhOihlVBgK65PutSMx4GSKoJYr30Ru5HNz_GtAH4-TfFaWlM4?width=479&height=319&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Tumbbad<br />
        Rating: 8.2<br />
        Released Year: 2018<br />
        Genre:
        <span style="color: #181818;">Horror</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Anurag Kashyap's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4mJLf3w6T13n74sQbOXczRvojgjpiUleZCdVPixDpzT3UX7nRmR5YlI2_7dgMeAOxKCTVk5WAaDExzhlxpyYoP2kkUcbV3mCbmfgx3pCGArDyUTDwisoCK8TlzoHEzES1qEzBP2k4ziZwzJwFhzdvDkuh8qKpNEBUivGzRJ6b1cQ4XKpeajGUSemIB3-uBTz89PZmeTKCQRH2YC2s5Fa9pTMgiCIJAyjiG6yHuWZnE2_8?width=479&height=268&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Gangs of Wasseypur<br />
        Rating: 8.1<br />
        Released Year: 2012<br />
        Genre:
        <span style="color: #181818;">Crime</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Richa Chadha's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4mFQuT6QBgau7wePgmSQ5ze7XIqUXAkVZM9I6hqiFy-XlKLOr40qOP8XYbFk-1kb85W4cJDa4gBqbOVKI6Z9M5Vmbhfr9OUsnbvBuPa2dW_iu68l8rKPmiS4r30C1a83XJn5FaNo2tsXaD3NYgqUkcy9CSx3PV5Mr662tmIAEBu04tvmjEh3d3N3IzkjccCViC7i8vv0SktjwPCP7IvimECCSCtlHbWXNBmBet-35mxGw?width=480&height=249&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Masaan<br />
        Rating: 8.1<br />
        Released Year: 2015<br />
        Genre:
        <span style="color: #181818;">Drama</span>
      </div>
    </div>

    <div class="modalBody">
      <h5 class="title">Aayushmaan's:</h5>
      <div class="crop-container">
        <img
          src="https://bl6pap003files.storage.live.com/y4miQVCpZcdHGmwOobWO2W4qxTLJbbM5fE9R-J4hRQmiTVacMnC0nXda-aolrZmdOVWvdxCI95NTPtg2SbO_XM_VkWPJyKKMjrqgNyoAV3WZxkx4omDGfOT4QamNrIGJAoBiV5hgutDXA7jS6hjM4rKs_VLk686mu-iFQ9vLCohpTAhjcNwzegSLF2r-l6ocLY_v1s6hJgS_XTNBcC4pjSVV6fIMsX4hyEsHbPP4KAL4Ug?width=479&height=331&cropmode=center"
          height="350px"
        />
      </div>
      <div class="title">
        Title: Badhaai Ho<br />
        Rating: 8<br />
        Released Year: 2018<br />
        Genre:
        <span style="color: #181818;">Comedy</span>
      </div>
    </div>

    <div class="title" style="text-align: center; padding: 0;margin-top: 10px;">
      copyright &copy;<a
        href="https://www.linkedin.com/in/giteshchauhan20/"
        style="text-decoration: none; color: #a1aebb;"
      >giteshchauhan</a>2022 | Visit:<a
        href="https://projectvidly.netlify.app"
        style="text-decoration: none; color: #a1aebb;"
      >project_vidly</a>
    </div>
  </body>

</html>